<div class="grid-container">
  <div class="row">
    <div class="home">
      <div id='about-text'>
        <img id='about_img' src='about_me.png'/> 
        <h2 id="about_header"> Hi I am Scot Chard </h2>
        <p class="about_text"> I currently am a Jr. Front End Developer at <a href="https://mooreandscarry.com/" target="_blank">Moore and Scarry Advertising</a> </p>
        <p class="about_text"> My goal is to become a Full Stack Ruby on Rails Developer </p>
        <a href="https://github.com/Scotchard22" target="_blank"><img class="social_icons" src="github.png"/></a>
        <a href="https://www.linkedin.com/in/scotchard" target="_blank"><img class="social_icons" src="linkedin.png"/></a>
        <a href="https://www.instagram.com/scot_chard/" target="_blank"><img class="social_icons" src="insta.png"/></a>
      </div>
      <div class="row">  
        <div class="col-2">
          <a href="https://drive.google.com/file/d/0B1tf_RhC0O42N2h2QVc3dV9CUmc/view?usp=sharing" target="_blank" class="about_btn">View My Resume</a>

        </div>  
      </div> 
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">About Me</h2>
        <p class="about_para">Welcome to my portfolio!</p>
        <p class="list_items">Okay so a little bit about myself, I currently am a Jr. Front End Developer at <a href="https://mooreandscarry.com/" target="blank">Moore and Scarry</a>. My journey to become a Full Stack Ruby on Rails Developer started in August, 2015. Ruby on Rails is my passion and exactly what I want to do in a Full Time role. I went through a Full-Immersive coding bootcamp that had taught us Full Stack Ruby on Rails, and I was instantly hooked. I've built many Ruby of Rails projects. I continue to teach myself new things everyday with the hopes of becoming a Full Time Ruby on Rails Developer. I am very dedicated to my work and also very proud to be where I am today! If you're looking for a bright, dedicated, and passionate Ruby on Rails Developer please shoot me an email! Thanks!</p>
      </div> 
    </div> 
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Work History</h2>
        <p class="text_para">Moore and Scarry Advertising: June, 2016 - Present</p>
          <li class="list_items">Build and maintain client websites, and landing pages</li>
          <li class="list_items">I take our designed webpages and I transfer it into HTML5, CSS3</li>
          <li class="list_items">We colloaborate closely with the Designers and Copywrite teams</li>
        <p class="text_para">Rite Aid: Feb, 2014 - May, 2016</p>
          <li class="list_items">Worked as a Pharmacy Technician for a little over 2 years</li>
          <li class="list_items">Perform routine tasks such as counting pills and typing scripts</li>
          <li class="list_items">Assist licensed pharmacists dispense prescription medication</li>
      </div> 
    </div> 
  </div>
  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Skills</h2>
        <div class="col-3">
          <p class="skill_para">Ruby on Rails</p>
          <p class="skill_para">HTML5</p>
          <p class="skill_para">CSS3</p>
          <p class="skill_para">Javascript/jQuery</p>
        </div>
        <div class="col-3">
          <p class="skill_para">Git/Github</p>
          <p class="skill_para">ERB</p>
          <p class="skill_para">HAML</p>
          <p class="skill_para">Responsive Web Design</p>
        </div>
      </div> 
    </div> 
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Education</h2>
        <p class="text_para"> DevPoint Labs: Aug, 2015 - Nov, 2015</p>
        <p class="list_items">Devpoint Labs is a Full Immersive 11 week course that takes entry level performers and prepares them for a Jr. Developer position.</p>
        <p class="list_items">They offer courses in full-stack Ruby on Rails, full-stack JavaScript and UX Design.</p></br>
        <p class="list_items"> Studies include:</br> Ruby, Rails, Javascript, CSS, HTML, jQuery, AJAX, Coffeescript, Command Line, Git, Github, Ruby Gems, Pair Programming, TDD, BDD, Rspec, APIs, and more!</p>
        <p class="list_items">Check them out - <a href="http://www.devpointlabs.com/" target="_blank">DevPoint Labs</a></p>
      </div> 
    </div> 
  </div>
</div>