<div class="grid-container">
  <div class="row">
    <div class="home">
      <div class="col-2">
        <img class="slideshow-img" src='chorehero.jpg'/>
      </div>
      <div class="slide_title_border col-2">
        <h2 class="slide_title">Chore Hero</h2>
      </div>
    </div>
  </div>  
  
  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">ChoreHero is a web app that gamifies chores for children. They earn XP for doing chores which can be traded in for prizes and fun activities. As a team we planned out our days, workflow and maintained a good pace with the project. We had daily scrum meetings and followed agile methods. We incorporated many ruby gems and rails techniques in the project. You can visit the website live at <a href="http://www.chorehero.us/" target="_blank">www.chorehero.us</a></p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">The tech stack used to create ChoreHero was Full Stack Ruby on Rails. To be more specific, we used Ruby for our backend, as well as the framework Rails. Instead of the usual ERB we switched it up, and used the preprocessor HAML in replace of ERB. Our front end programming languages were HTML5, CSS3, Javascript and Javascript's preprocessor Coffeescript which blends perfectly with the Rails framework.</p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">ChoreHero was actually an idea that 4 other team members and I created. Our team leader pitched an idea that we loved, and we built a plan to execute the idea. I was attending a coding bootcamp at the time. A week before the coding camp ended the class split into groups, and pitched ideas to eachother. Each group had to build a final project to present in the last week of the course.</p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kewl</h2>
        <p class="text_para">One thing that I am really proud about is our testing suite. We managed to reach a testing coverage of 88.65% for our whole application. A teammate and myself worked on the testing. We followed the rules of BDD, Behavior Driven Development. We tested our application with RSpec, which is a Ruby gem that was inspired by JBehave. Click here to learn about RSpec. <a href="http://rspec.info/" target="_blank">www.rspec.info</a></p>
      </div>   
    </div>
  </div>
</div>

<!-- 
  <div class="diy-slideshow">
    <figure class="show">
      <span class="prev">&laquo;</span>
      <img src="chorehero.jpg" width="100%" class="slideshow_img" /> 
      <span class="next">&raquo;</span>
    </figure>
     <figure>
      <img src="chorehero.jpg" width="100%" class="slideshow_img" />
    </figure>
    <figure>
      <img src="chorehero.jpg" width="100%" class="slideshow_img" /> 
    </figure>
  </div>  

</div>

<script>
      (function(){

var counter = 0, // to keep track of current slide
   $items = document.querySelectorAll('.diy-slideshow figure'), // a collection of all of the slides, caching for performance
   numItems = $items.length; // total number of slides

// this function is what cycles the slides, showing the next or previous slide and hiding all the others
var showCurrent = function(){
 var itemToShow = Math.abs(counter%numItems);// uses remainder (aka modulo) operator to get the actual index of the element to show  

 // remove .show from whichever element currently has it 
 // http://stackoverflow.com/a/16053538/2006057
 [].forEach.call( $items, function(el){
   el.classList.remove('show');
 });

 // add .show to the one item that's supposed to have it
 $items[itemToShow].classList.add('show');    
};

// add click events to prev & next buttons 
document.querySelector('.next').addEventListener('click', function() {
    counter++;
    showCurrent();
 }, false);

document.querySelector('.prev').addEventListener('click', function() {
    counter--;
    showCurrent();
 }, false);

})(); 
    </script> -->