<div class="grid-container">
  <div class="row">
    <div class="home">
      <div class="col-2">
        <img class="slideshow-img" src='chorehero.jpg'/>
      </div>
      <div class="slide_title_border col-2">
        <h2 class="slide_title">Chore Hero</h2>
      </div>
    </div>
  </div>  
  
  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's. Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's.</p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's. Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's.</p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's. Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's.</p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para">Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's. Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's.</p>
      </div>   
    </div>
  </div>
</div>

<!-- 
  <div class="diy-slideshow">
    <figure class="show">
      <span class="prev">&laquo;</span>
      <img src="chorehero.jpg" width="100%" class="slideshow_img" /> 
      <span class="next">&raquo;</span>
    </figure>
     <figure>
      <img src="chorehero.jpg" width="100%" class="slideshow_img" />
    </figure>
    <figure>
      <img src="chorehero.jpg" width="100%" class="slideshow_img" /> 
    </figure>
  </div>  

</div>

<script>
      (function(){

var counter = 0, // to keep track of current slide
   $items = document.querySelectorAll('.diy-slideshow figure'), // a collection of all of the slides, caching for performance
   numItems = $items.length; // total number of slides

// this function is what cycles the slides, showing the next or previous slide and hiding all the others
var showCurrent = function(){
 var itemToShow = Math.abs(counter%numItems);// uses remainder (aka modulo) operator to get the actual index of the element to show  

 // remove .show from whichever element currently has it 
 // http://stackoverflow.com/a/16053538/2006057
 [].forEach.call( $items, function(el){
   el.classList.remove('show');
 });

 // add .show to the one item that's supposed to have it
 $items[itemToShow].classList.add('show');    
};

// add click events to prev & next buttons 
document.querySelector('.next').addEventListener('click', function() {
    counter++;
    showCurrent();
 }, false);

document.querySelector('.prev').addEventListener('click', function() {
    counter--;
    showCurrent();
 }, false);

})(); 
    </script> -->