<div class="grid-container">
  <div class="row">
    <div class="home">
      <div class="col-2">
        <img class="slideshow-img" src='landing-page.jpg'/>
      </div>
      <div class="slide_title_border col-2">
        <h2 class="slide_title">Built My First Landing Page</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">This landing page earned me my first job as a developer. I was interviewing with a company called Moore and Scarry. They wanted to test my skills and sent me this test project to do. It was not difficult to me, and I was happy with the final product. Needless to say, the company was very happy with the outcome, and offered me the job. I accepted, and I am now a Jr. Front End Developer at Moore and Scary! </p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">Back to the basics!<br/> This website was built only using HTML5, and CSS3 !</p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">My reasoning behind building this landing page was to show off my skills and hopefully land a job. I previously had an interview with a company, and I was in round 2 of the interviewing process. The company provided me with a PSD file, (a photoshop image), and I had to transfer the image into a working HTML5, CSS3 web page. I then got started. It took me a few hours, but the final product turned out great.</p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para">I Landed the Job!! A few days after I had sent in my finished product I had recieved a phone call. It was the company. They had explained to me that they were really impressed with the finished product, and wanted to bring me on board! I accepted their offer, and landed my first job in the field! From writing my first line of code to landing my first job in the field was a huge accomplishment considering it had only taken me under a year !</p>
      </div>   
    </div>
  </div>
</div>
