<div class="grid-container">
  <div class="row">
    <div class="home">
      <div class="col-2">
        <img class="slideshow-img" src='steve.png'/>
      </div>
      <div class="slide_title_border col-2">
        <h2 class="slide_title">No Internet = HIGH SCORE!</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">What do you do when using Google Chrome, and you lose internet? Obviously you start playing Googles Hidden Dinosaur Game! On this day I had lost my internet due to a heavy storm passing by. This actually turned out to be great because it had given me the chance to get a HIGH SCORE of 3571! Don't worry my internetless friends, Google Chrome is here to save the day.</p>
      </div> 
    </div> 
  </div>
</div>