<div class="grid-container">
  <div class="row">
  <div class="home">
    <div class="col-2">
      <img class="slideshow-img" src='steve.jpg'/>
    </div>
    <div class="slide_title_border col-2">
      <h2 class="slide_title">No Internet = HIGH SCORE!</h2>
    </div>
  </div>
</div>