<div class="grid-container">
  <div class="row">
    <div class='home'>
      <div id='header-text'>
        <img id='header-image' src='scot_prof.png'/> 
        <h1 id='title'>Scot Chard</h1>
        x x <hr> x
        <p id='subtitle'><span class="last_name">Full-Stack</span> Ruby on Rails <span class="last_name">Developer</span></p>
      </div>  
      <div class="row">  
        <div class="col-2">
          <a href="about" class="btn_1">About Me</a>
          <a href="work" class="btn_2">View My Work</a>
        </div>  
      </div>  
    </div>
  </div>
</div>

  