<div class="grid-container">
  <div class="row">
    <div class='home'>
      <div id='header-text'>
        <img id='header-image' src='scot_prof_copy.png'/> 
        <h1 id='title'>Scot Chard</h1>
        x x <hr> x
        <p id='subtitle'><span class="last_name">Full-Stack</span> Ruby on Rails <span class="last_name">Developer</span></p>
      </div>  
    </div>
  </div>

  <div class="row">   
    <div class="col-1">
      <a href="chorehero" class="image-link"><img class='project-img' src='chorehero.jpg'/></a> 
      <h2 class='project-label'> ChoreHero </h2>
    </div>
    <div class="col-1">
      <a href="twopeace" class="image-link"><img class='project-img' src='twopeace.jpg'/></a> 
      <h2 class='project-label'> TwoPeace Web Development </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <a href="svj_photography" class="image-link"><img class='project-img' src='svj.jpg'/></a> 
      <h2 class='project-label'> SVJ Photography </h2>
    </div>
    <div class="col-1">
      <a href="my_blog" class="image-link"><img class='project-img' src='blog.jpg'/></a> 
      <h2 class='project-label'> My Personal Blog </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <a href="whats_on_your_agenda" class="image-link"><img class='project-img' src='todo.jpg'/></a> 
      <h2 class='project-label'> What's On Your Agenda? </h2>
    </div>
    <div class="col-1">
      <a href="linkage" class="image-link"><img class='project-img' src='linkage.jpg'/></a> 
      <h2 class='project-label'> Linkage </h2>
    </div>
  </div>
   
  <div class="row">
    <div class="col-1">
      <a href="wizard_of_rails" class="image-link"><img class='project-img' src='wor.jpg'/></a> 
      <h2 class='project-label'> Wizard of Rails </h2>
    </div>
     <div class="col-1">
      <a href="my_first_website" class="image-link"><img class='project-img' src='first-website.jpg'/></a> 
      <h2 class='project-label'> My First Website </h2>
    </div>
  </div>  

  <div class="row">
    <div class="col-1">
      <a href="spectrum_games" class="image-link"><img class='project-img' src='jquery_copy.png'/></a> 
      <h2 class='project-label'> Spectrum Games </h2>
    </div>
    <div class="col-1">
      <a href="first_landing_page" class="image-link"><img class='project-img' src='landing-page.jpg'/></a> 
      <h2 class='project-label'> Built My First Landing Page </h2>
    </div>
  </div> 

  <div class="row">
    <div class="col-1">
      <a href="sinatra_calculator" class="image-link"><img class='project-img' src='sin-calc.jpg'/></a> 
      <h2 class='project-label'> Sinatra Calculator </h2>
    </div>
    <div class="col-1">
      <a href="rag" class="image-link"><img class='project-img' src='rag.jpg'/></a> 
      <h2 class='project-label'> Random Adventure Generator </h2>
    </div>
  </div> 

  <div class="row">
    <div class="col-2">
      <a href="highscore" class="image-link"><img class='project-img' src='steve.jpg'/></a> 
      <h2 class='project-label'> High Score </h2>
    </div>
  </div> 
</div>