<div class="grid-container">
  <div class="row">
  <div class="home">
    <div class="col-2">
      <img class="slideshow-img" src='linkage.jpg'/>
    </div>
    <div class="slide_title_border col-2">
      <h2 class="slide_title">Linkage</h2>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">Linkage is a link aggregator web application. Linkage is intended to be a  a place where people can come and share links to funny videos, a link to a really good blog, or pretty much anything they find interesting on the internet. Users who signup can post their own links, edit their links, delete them, and even give a breif overview about why they are posting the link. Check out the code - <a href="https://github.com/Scotchard22/Linkage">Linkage</a></p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">The tech stack used to create Linkage was Full Stack Ruby on Rails. To be more specific, I used Ruby for the backend, which was matched with Rails for the framework. The front end programming languages used were HTML5, CSS3, and Javascript.</p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">My motivation for creating Linkage came from <a href="https://www.reddit.com/">reddit</a>. reddit went from a second tier aggregator site to taking over the internet. reddit gets millions of users on their site daily. It inspired me to make my own aggregator web application and see where if it would gain any traction.  </p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para">What I think is really interesting and am proud of is the authentication Linkage has. I used the Devise Ruby gem for aunthentication. Users can sign up and sign in. Only users who sign up can create posts. With the authentication, the postgres database stores all of the users data and assigns the user an id. Only the user who created the post can go in and choose to edit or delete the post due to having the same id. </p>
      </div>   
    </div>
  </div>
</div>