<div class="grid-container">
  <div class="row">
  <div class="home">
    <div class="col-2">
      <img class="slideshow-img" src='linkage.jpg'/>
    </div>
    <div class="slide_title_border col-2">
      <h2 class="slide_title">Linkage</h2>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para"></p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">The tech stack used to create TwoPeace was Full Stack Ruby on Rails. To be more specific, I used Ruby for the backend, that was matched with Rails for the framework. The front end programming languages used were HTML5, CSS3, and Javascript.</p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para"></p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para"></p>
      </div>   
    </div>
  </div>
</div>