<div class="grid-container">
  <div class="row">
  <div class="home">
    <div class="col-2">
      <img class="slideshow-img" src='blog.jpg'/>
    </div>
    <div class="slide_title_border col-2">
      <h2 class="slide_title">My Personal Blog</h2>
    </div>
  </div>
</div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">Since it is my personal blog, I can add personal touches to it, and make it reflect my personality. I wanted to create a blog from scratch, because why not? It is awesome! I also wanted to stay away from easy, generic, and boring WordPress templates because I am a developer, and develop my applications from scratch! Check it out here - <a href="https://github.com/Scotchard22/My_Blog" target="_blank"> My Blog</a></p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">The tech stack used to create my personal blog was Full Stack Ruby on Rails. To be more specific, I used Ruby for the backend, that was matched with Rails for the framework. The front end programming languages used were HTML5, CSS3, and Javascript.</p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">The goal for creating a personal blog was to enhance my online presence, and create more social media for myself. I am going to be posting about my career path to becoming a Full-Stack Developer. I want to post about subjects I am currently learning, projects I am currently working on, and what I want to be learning in the near future.</p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para">A really cool feature I added to my personal blog was a ruby gem called Devise. Devise is for authentication purposes. I used the Devise ruby gem so that I could set myself as the admin of the application, and only I will be able to login, and access full functionality of my blog.</p>
      </div>   
    </div>
  </div>
</div>