<div class="grid-container">
  <div class="row">
  <div class="home">
    <div class="col-2">
      <img class="slideshow-img" src='first-website.jpg'/>
    </div>
    <div class="slide_title_border col-2">
      <h2 class="slide_title">My First Website</h2>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">I have come a very long way since I built this website. This was at the beginning of my journey to become a full stack developer. I went through as many tutorials on HTML5, and CSS3 as possible. I picked it up very quickly, and was absolutely thrilled when I wrote my first line of code. From creating a simple "Hello World" webpage, to this very nice looking website.</p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">Back to the basics!<br/> This website was built only using HTML5, and CSS3 ! </p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">What had initiated my interest in software was when I was scavenging around Youtube, and came across an interesting video. A 16 year old boy had built an application that summarized news articles. The teenager sold the application to Yahoo for 30 million dollars. Check out the video here - <a href="https://www.youtube.com/watch?v=gtjW6odrvz0">Summly</a> I then began my research, came across web development, and here I am today!</p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para">This was my very first webpage! Can you believe that? This website had only taken me about an hour. I learned, and picked up HTML5 and CSS3 super fast in such a short amount of time. I was very excited and proud after building the site. On the first day of the coding bootcamp I had attended, I showed this website to the class and everyone was very impressed and didn't expect anyones site to look as good as this does.</p>
      </div>   
    </div>
  </div>
</div>