<div class="grid-container">
  <div class="row">
    <div class="home">
      <div class="col-2">
        <img class="slideshow-img" src='rag.jpg'/>
      </div>
      <div class="slide_title_border col-2">
        <h2 class="slide_title">R.A.G</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">R.A.G - Random Adventure Generator. Home alone on a weekend? Nobody to hangout with? Nothing to do? Well to heck with boredom! You never have to be bored again! R.A.G is here to provide you with countless numbers of random adventures, and unlimited fun. Grab a friend, bring your goldfish, or go solo it's your choice! R.A.G provides you with a random location. The goal? Get to that location!  </p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">The tech stack used to create our Random Adventure Generator was Full Stack Ruby on Rails. To be more specific, we used Ruby for the backend, which was matched with Rails for the framework. The front end programming languages used were HTML5, CSS3, and bootstrap for a front end framework.</p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">HACKATHON! At the coding bootcamp I was attending we had hosted 2 hackathons. This was our first hackathon. Each team consisted of 4 people. 8 hours given to us as well as some preparation time before the hackathon started. My team started brainstorming, and pitching ideas for us to build. We all loved the outdoors, and came up with a fun way to get out more. Preparation time is up. Let the hackathon begin! </p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para">To determine the location given, we had used a Ruby gem called <a href="http://www.rubygeocoder.com/">Geocoder</a> - Check it out! The gem determines a location based on a street address or coordinates. We also implemented the Google Maps API that shows the user their given location. I also believe we came in 3rd place in the hackathon, which was very exciting!  </p>
      </div>   
    </div>
  </div>
</div>