<div class="grid-container">
  <div class="row">
  <div class="home">
    <div class="col-2">
      <img class="slideshow-img" src='sin-calc.jpg'/>
    </div>
    <div class="slide_title_border col-2">
      <h2 class="slide_title">Sinatra Calculator</h2>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's. Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's.</p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's. Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's.</p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's. Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's.</p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para">Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's. Vice gluten-free blog typewriter cardigan fingerstache pour-over, wolf mixtape DIY deep v selvage. Pug neutra health goth, tote bag single-origin coffee PBR&B VHS church-key mlkshk knausgaard typewriter tofu polaroid. Banh mi yr forage twee microdosing etsy 90's.</p>
      </div>   
    </div>
  </div>
</div>