<div class="grid-container">
  <div class="row">
    <div class="home">
      <div class="col-2">
        <img class="slideshow-img" src='sin-calc.png'/>
      </div>
      <div class="slide_title_border col-2">
        <h2 class="slide_title">Sinatra Calculator</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">This is my first ever web application!<br/> This was a big stepping stone, and the beginning of how I got to be where I am now in my career! This web application carved the path for me to learn the Rails framework. It was very exciting to take a simple calculator program that ran only on my computer, and transform it into a functional web application!</p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">This web application was built using Sinatra (a Ruby framework, comparable to Rails). Also incorporated in this project was Ruby, HTML5, and CSS3 !</p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">The goal of this project was to gain an understanding of web frameworks, and why we use them. Earlier in the coding bootcamp we learned the Ruby programming language. With Ruby, we had scripted functional calculator programs. We wanted to take our programs and transform them into our first web application. Before, the only way to use our calculator programs was on the terminal on our local computers.</p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para">I learned, and used the Sinatra framework as a stepping stone to learn the Rails framework. In the coding bootcamp I attended, they taught us Sinatra before teaching us Rails. They did this to help us get a feel of exactly what a web framework is. It had really helped me grasp, and understand the fundamentals of web frameworks!</p>
      </div>   
    </div>
  </div>
</div>