<div class="grid-container">
  <div class="row">
    <div class="home">
      <div class="col-2">
        <img class="slideshow-img" src='jquery.png'/>
      </div>
      <div class="slide_title_border col-2">
        <h2 class="slide_title">Spectrum Games</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">Spectrum Games has full functionality that was built with Javascript and jQuery. Users can play games such as tic-tac-toe, rock, paper, scissors, and a matching game. Each game is driven by Javascript functions that interact with the users actions. If a player chooses rock, the application looks for the Javascript function for an answer and the function will randomly choose an answer and declare a winnner!</p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">For this project I built it on the Rails framework. There is no backend involved in this project. I specifically only used HTML5, CSS3, and Javascript/jQuery. Find the code here - <a href="https://github.com/Scotchard22/jquery_games">Spectrum Games</a></p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">While I was attending the coding bootcamp I built this project with the Javascript/jQuery skills I had learned. I wanted to figure out Javascript as best as I could. What is a better way to learn other then hands on experience? Becoming a full stack developer was my goal, and in order to do that I would have to learn Javascript inside and out!</p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para">Until this point in the coding bootcamp I had only worked with Ruby and Rails. Getting a grasp on those was already hard enough, and then I had to throw in another foreign language on top. It was a tough task to transfer from Ruby's developer friendly syntax to Javascripts strict syntax. I figured out how to use Javascript and learned its syntax. After that I was able to create this web application!</p>
      </div>   
    </div>
  </div>
</div>