<div class="grid-container">
  <div class="row">
    <div class="home">
      <div class="col-2">
        <img class="slideshow-img" src='svj.png'/>
      </div>
      <div class="slide_title_border col-2">
        <h2 class="slide_title">SVJ Photography</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">This was a site that I had built fresh out of a full stack Ruby on Rails coding bootcamp. I incorporated all of the newly aquired skills I had gained from the coding camp into the project. Vlad, Justin, and I are all big into photography, so we all decided that we needed a site to market ourselves and follow our passion. Check out the code here - <a href="https://github.com/Scotchard22/SVJ_Photography" target="_blank">SVJ Photography</a></p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">The tech stack used to create SVJ Photography was Full Stack Ruby on Rails. To be more specific, I had used Ruby for the backend, which was matched with Rails for the framework. The front end programming languages were HTML5, CSS3, which were matched with the Materialize front end framework.</p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">My good friends Vlad & Justin are great photographers, but are not really well known for their photography. I also love photography, and do it as a hobby. After coming out of the coding bootcamp, I had the skills to build us a great looking site to show off our photography, look for freelance work, and to get our names out there.</p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para">SVJ stands for Scot, Vlad, and Justin, we could not think of a name to give ourselves so we now have SVJ Photography. Building our site really motivated us to keep up with our photography, and to try to get the best shots. We have a great gallery on the site where people can view our work.</p>
      </div>   
    </div>
  </div>
</div>