<div class="grid-container">
  <div class="row">
    <div class="home">
      <div class="col-2">
        <img class="slideshow-img" src='twopeace.png'/>
      </div>
      <div class="slide_title_border col-2">
        <h2 class="slide_title">TwoPeace</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">WELCOME TO THE NEW ERA<br/>TwoPeace is a Web Development & Design startup that I currently run and operate. We develop innovative websites for small businesses, and startups that build online presence, branding, and customer satisfacton. Our site is still in the works, but already we have had a couple clients jump on board, and require our service. Check us out - <a href="https://github.com/Twopeace/twopeace" target="_blank">TwoPeace</a></p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">The tech stack used to create TwoPeace was Full Stack Ruby on Rails. To be more specific, I used Ruby for the backend, which was matched with Rails for the framework. The front end programming languages used were HTML5, CSS3, and Javascript.</p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">TwoPeace was an idea that I came up with to help my local community. I noticed there was a real shortage of online presence with at least 99% of the local businesses, and startups only having a simple Facebook page, and nothing more. The goal was to turn the community into a thriving and upcoming tech hub, and to get South Jersey on the map.</p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para">When starting TwoPeace, people were very interested. Even though our own site hasn't quite been finished yet, clients are wanting us to build their business a website. TwoPeace has a lot of potential. I currently am finishing up the marketing site. For the moment TwoPeace will be a hobby of mine on my spare time, but I am wanting to go full fledged into it once it gains more traction.</p>
      </div>   
    </div>
  </div>
</div>