<div class="grid-container">
  <div class="row">
  <div class="home">
    <div class="col-2">
      <img class="slideshow-img" src='todo.jpg'/>
    </div>
    <div class="slide_title_border col-2">
      <h2 class="slide_title">What's On Your Agenda?</h2>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">Go to the app store on your phone, and type in "todo list", I bet you will get hundreds of results. Don't know which one to download? Well I found an easy solution for that, build your own todo list application! So that is what I did! I built out my own personal todo list web application that does not require a download. I just go to the website and start making my lists! I can personalize my todo lists any way I choose, how cool!</p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">The tech stack used to create TwoPeace was Full Stack Ruby on Rails. To be more specific, I used Ruby for the backend, that was matched with Rails for the framework. The front end programming languages used were HTML5, CSS3, and Javascript.</p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">Who has the time to sit down and go through every todo list application, read reviews on each one, and test each one to find out which one is a good fit? Nobody, that's who! I wanted to build my own as a fun little side project. I was able to personalize and tailor the application to fit all of my needs, which was fantastic, and I had felt awesome about it! </p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para">My lists are stored in a Postgres database and will remain on my web application for future reference and use. All of the todo lists I create are easily accesible through the database, I can choose to add, remove, and edit all of my lists. As this is my personal application, I am able add any features I want, and build it exactly the way I want!</p>
      </div>   
    </div>
  </div>
</div>