<div class="grid-container">
  <div class="row">
  <div class="home">
    <div class="col-2">
      <img class="slideshow-img" src='wor.jpg'/>
    </div>
    <div class="slide_title_border col-2">
      <h2 class="slide_title">Wizard of Rails</h2>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Description</h2>
        <p class="text_para">Wizard of Rails was created to show off everything my team and I have learned in the coding bootcamp we were attending. It is an informational website that explains the code we had written. Everything that we had done behind the scenes, we showed people exactly how we did it. It is not the prettiest, but because we used a wide variety of programming, we had won first place out of 4 other teams! </p>
      </div> 
    </div>  

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Tech Stack</h2>
        <p class="text_para">The tech stack used to create Wizard of Rails was Full Stack Ruby on Rails. We used Ruby for the backend, paired with Rails for the framework. We replaced ERB and used the preprocessor HAML. The front end includes HTML5, CSS3, and Javascript. We used AJAX which enables a webpage to update without having to refresh the page. We also added React.js to our project which is a very popular javascript framework.</p>
      </div> 
    </div>  
  </div>

  <div class="row">
    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Motive</h2>
        <p class="text_para">HACKATHON! There were 5 teams with 4 people to a team. We were given 8 hours to build a working product from scratch. We did have time to discuss some ideas and approaches we wanted to take a day before, but we were not able to write any code prior to beginning the hackathon. We got our idea, made a game plan, assigned roles, and bought a lot of energy drinks. The next day, it was game time!</p>
      </div>  
    </div> 

    <div class="col-1">
      <div class="text_boxes">
        <h2 class="text_header">Something Kool</h2>
        <p class="text_para">We Won 1st Place!<br/> I was very surprised, and nervous to find out which team would win. The other teams had some great products as well, and they especially looked a whole lot better then our application. Our tech stack definitely outweighed our competition's which had gotten us first place! Interested in looking at our code? Go here - <a href="https://github.com/eatspaint/wizard_of_rails">Wizard of Rails</a></p>
      </div>   
    </div>
  </div>
</div>