<div class="grid-container">
  <div class="row">
    <div class="home">
      <div class="col-2">
        <img class="slideshow-img animated bounceInDown" src='work_header.png'/>
      </div>
    </div>
  </div>

  <div class="row">   
    <div class="col-1">
      <a href="chorehero" class="image-link"><img class='project-img' src='chorehero.png'/></a> 
      <h2 class='project-label'> ChoreHero </h2>
    </div>
    <div class="col-1">
      <a href="twopeace" class="image-link"><img class='project-img' src='twopeace.png'/></a> 
      <h2 class='project-label'> TwoPeace Web Development </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <a href="svj_photography" class="image-link"><img class='project-img' src='svj.png'/></a> 
      <h2 class='project-label'> SVJ Photography </h2>
    </div>
    <div class="col-1">
      <a href="my_blog" class="image-link"><img class='project-img' src='blog.png'/></a> 
      <h2 class='project-label'> My Personal Blog </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <a href="whats_on_your_agenda" class="image-link"><img class='project-img' src='todo.png'/></a> 
      <h2 class='project-label'> What's On Your Agenda? </h2>
    </div>
    <div class="col-1">
      <a href="linkage" class="image-link"><img class='project-img' src='linkage.png'/></a> 
      <h2 class='project-label'> Linkage </h2>
    </div>
  </div>
   
  <div class="row">
    <div class="col-1">
      <a href="wizard_of_rails" class="image-link"><img class='project-img' src='wor.png'/></a> 
      <h2 class='project-label'> Wizard of Rails </h2>
    </div>
     <div class="col-1">
      <a href="my_first_website" class="image-link"><img class='project-img' src='first-website.png'/></a> 
      <h2 class='project-label'> My First Website </h2>
    </div>
  </div>  

  <div class="row">
    <div class="col-1">
      <a href="spectrum_games" class="image-link"><img class='project-img' src='jquery.png'/></a> 
      <h2 class='project-label'> Spectrum Games </h2>
    </div>
    <div class="col-1">
      <a href="first_landing_page" class="image-link"><img class='project-img' src='landing-page.png'/></a> 
      <h2 class='project-label'> Built My First Landing Page </h2>
    </div>
  </div> 

  <div class="row">
    <div class="col-1">
      <a href="sinatra_calculator" class="image-link"><img class='project-img' src='sin-calc.png'/></a> 
      <h2 class='project-label'> Sinatra Calculator </h2>
    </div>
    <div class="col-1">
      <a href="rag" class="image-link"><img class='project-img' src='rag.png'/></a> 
      <h2 class='project-label'> Random Adventure Generator </h2>
    </div>
  </div> 

  <div class="row">
    <div class="col-2">
      <a href="highscore" class="image-link"><img class='project-img' src='steve.png'/></a> 
      <h2 class='project-label'> High Score </h2>
    </div>
  </div> 
</div>
</div>      