/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
}

body{
  background-color: #d9e6f2;
}

.grid-container *{
  width: 100%;
  max-width: 1600px;
  box-sizing: border-box;
}

.row:before,
.row:after{
  content:"";
    display: table ;
  clear: both;  
}

[class*="col-"]{
  float: left;
  min-height: 1px;
  width: 50%;
  padding: 12px;

  margin: 0 auto;
  text-align: center;
}

.col-1{
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.col-3{
  width: 50%;
}

.col-2{
  width: 100%;
}

.nav{
  height: 50px !important;
  background-color: #264d73 !important;
}

 .home{
  background-color: #ff8080;
  height: 610px;
  width: 100%;
 }

 #footer{
  height: 40px;
  width: 100%;
  background-color:  #264d73;
 }

.footer-links{
  text-align: center;
  padding-top: 8px;
 }

.footer-links a{
  margin: 0 auto;
  padding-right: 40px;
  font-size: 110%;
 }

.header-links{
  text-align: center;
  padding-top: 11px;
 }

.header-links a{
  margin: 0 auto;
  padding-right: 40px;
  font-size: 130%;
 }

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none; 
    color: #ff8080; 
}

a:active {
    text-decoration: none;
}

#header-image{
  height: 300px;
  width: 300px;
  border-radius: 150px;
  border: 6px white solid;
 }

#header-text{
  color: white;
  text-align: center;
  padding-top: 100px;
 }

#title{
  font-weight: bold;
  font-size: 300%;
  max-width: 100%;
}

hr{
  width: 150px !important;
  margin: 0 auto;
}

#subtitle{
  font-size: 200%;
  padding-bottom: 10px;
}

.project-label{
  text-align: center;
  display: inline-block;
  padding-top: 20px;
  color: #264d73;
  font-weight: bold;
}

.project-img{
  height: 250px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px grey;
  display: inline-block;
}

a.image-link:hover{
  opacity: 0.4;
}

.slideshow-img{
  margin:0 auto !important;
  width: 700px;
  height: 400px;
  margin-top: 65px !important;
}

.slide_title{
  color: white;
  text-align: center;
  font-size: 230%;
  font-weight: 200;
  margin:0 auto !important;
}

.text_boxes{
  height: 350px;
  width: 550px;
  background-color: #264d73; 
  margin: 0 auto;
}

.text_header{
  padding-top: 15px;
  text-align: center;
  text-decoration: underline;
  color: white; 
  font-size: 180%;
}

.text_para{
  text-align: center;
  color: white; 
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 110%;
}


/*Media Queries*/

@media all and (max-width:1155px){

.text_boxes{
  height: 400px !important;
  width: 450px !important;
  margin: 0 auto !important;
}

}

@media all and (max-width:950px){
  .col-1{
    width: 100% !important;
  }
  .col-2{
    width: 100% !important;
  }
}

@media all and (max-width:950px){

.home{
  height: 400px !important;
  width: 100% !important;
 }

#header-text{
  padding-top: 50px !important;
 }

#header-image{
  height: 200px !important;
  width: 200px !important;
  border-radius: 150px !important;
  border: 4px white solid !important;
 }

#title{
  font-weight: bold !important;
  font-size: 250% !important;
  max-width: 100% !important;
}

#subtitle{
  font-size: 150% !important;
  padding-bottom: 10px !important;
}

.header-links a{
  margin: 0 auto !important;
  padding-right: 20px !important;
  font-size: 120% !important;
 }

.footer-links a{
  margin: 0 auto !important;
  padding-right: 20px !important;
  font-size: 115% !important;
  }

  .project-label{
  text-align: center;
  padding-top: 20px !important;
  font-size: 140% !important
}

.slideshow-img{
  margin:0 auto !important;
  width: 500px !important;
  height: 300px !important;
  margin-top: 15px !important;
  }

.slide_title{
  margin:0 auto !important;
  text-align: center !important;
  font-size: 165% !important;
  }

.text_header{
  padding-top: 15px !important;
  font-size: 155% !important;
}

.text_para{ 
  padding-top: 35px !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  font-size: 100% !important;
}  

.text_boxes{
  height: 400px !important;
  width: 400px !important;
  margin: 0 auto !important;
}

}

@media all and (max-width:750px){

  .home{
  height: 355px !important;
  width: 100% !important;
  }  

  #header-text{
  padding-top: 30px !important;
  }

  #header-image{
  height: 200px !important;
  width: 200px !important;
  border-radius: 150px !important;
  border: 4px white solid !important;
  }

  #title{
  font-weight: bold !important;
  font-size: 200% !important;
  max-width: 100% !important;
  }

  #subtitle{
  font-size: 130% !important;
  padding-bottom: 10px !important;
  }

  .project-img{
  height: 200px !important;
  width: 300px !important;
  margin: 0 auto !important;
  border-radius: 10px !important;
  }

  .header-links a{
  margin: 0 auto !important;
  padding-right: 10px !important;
  font-size: 110% !important;
  }

  .footer-links a{
  margin: 0 auto !important;
  padding-right: 10px !important;
  font-size: 100% !important;
  }

  .project-label{
  text-align: center;
  padding-top: 20px !important;
  font-size: 130% !important
}

  .slideshow-img{
  margin:0 auto !important;
  width: 365px !important;
  height: 250px !important;
  margin-top: 15px !important;
  }

  .slide_title{
  margin:0 auto !important;
  text-align: center !important;
  font-size: 145% !important;
  }

.text_header{
  padding-top: 15px !important;
  font-size: 135% !important;
}

.text_para{ 
  padding-top: 35px !important;
  padding-left: 35px !important;
  padding-right: 35px !important;
  font-size: 90% !important;
}  

.text_boxes{
  height: 350px !important;
  width: 350px !important;
  margin: 0 auto !important;
}

}

/*.slide_title_border{
  height: 75px;
  width: 400px;
  border: 4px white solid;
  margin:0 auto !important;
}
*/

/*
.diy-slideshow{ 
 width: 100%;
 position: relative;
 display: block;
 overflow: hidden;
}

.slideshow_img{

}

figure{
 position: absolute;
 opacity: 0;
 transition: 1s opacity;
}
figcaption{
 position: absolute;
 font-family: sans-serif;
 font-size: .8em;
 bottom: .75em;
 right: .35em;
 padding: .25em;
 color: #fff;
 background: rgba(0,0,0, .25);
 border-radius: 2px;
}
figcaption a{
 color: #fff;
}
figure.show{
 opacity: 1;
 position: static;
 transition: 1s opacity;
}
.next, .prev{
 color: #fff;
 position: absolute;
 background: rgba(0,0,0, .6);
 top: 50%;
 z-index: 1;
 font-size: 2em;
 margin-top: -.75em;
 opacity: .3;
 user-select: none;
}
.next:hover, .prev:hover{
 cursor: pointer;
 opacity: 1;
}
.next{
  width:3% !important;
 right: 0 !important;
 padding: 10px 5px 15px 10px;
 border-top-left-radius: 3px;
 border-bottom-left-radius: 3px;
}
.prev{
  width:3% !important;
 left: 0;
 padding: 10px 10px 15px 5px;
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
}