/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
}

body{
  background-color: #d9e6f2;
} 

.hidden{
  display: none;
}

.grid-container *{
  width: 100%;
  max-width: 1600px;
  box-sizing: border-box;
}

.row:before,
.row:after{
  content:"";
    display: table ;
  clear: both;  
}

[class*="col-"]{
  float: left;
  min-height: 1px;
  width: 50%;
  padding: 12px;
  margin: 0 auto;
  text-align: center;
}

.col-1{
  width: 50%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.col-2{
  width: 100%;
}

.col-3{
  width: 50%;
}

.nav{
  height: 50px !important;
  background-color: #264d73 !important;
}

 #footer{
  height: 40px;
  width: 100%;
  background-color:  #264d73;
 }

 .home{
  background-color: #ff8080;
  height: 610px;
  width: 100%;
 }

.about_home{
  background-color: #ff8080;
  height: 610px;
  width: 100%;
 }

 .main_home{
  background-color: #ff8080;
  height: 610px;
  width: 100%;
 }

 .btn_1{
  background-color: #264d73;
  width: 100%;
  padding: 10px 40px;
  font-size: 140%;
  margin-right: 20px;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 10px 10px 5px #4E4F4B;
 }

 .btn_2{
  background-color: #264d73;
  width: 100%;
  padding: 10px 40px;
  font-size: 140%;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 10px 10px 5px #4E4F4B;
 }

.footer-links{
  text-align: center;
  padding-top: 10px;
 }

.footer-links a{
  margin: 0 auto;
  padding-right: 60px;
  padding-left: 60px;
  font-size: 110%;
 }

.header-links{
  text-align: center;
  padding-top: 15px;
 }

.header-links a{
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
  font-size: 130%;
 }

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none; 
    color: #ff8080; 
}

a:active {
    text-decoration: none;
}

#header-image{
  height: 300px;
  width: 300px;
  border-radius: 150px;
  border: 6px white solid;
 }

 #about_img{
  height: 350px;
  width: 350px;
  border-radius: 10px 10px 10px 10px; 
  border: 1px solid white;
  margin-top: 35px;
 }

 #about-text{
  text-align: center;
  color: white;
 }

 #about_header{
  font-size: 28px;
  padding-bottom: 5px;
 }

 .about_text{
  font-size: 18px;
  padding-bottom: 5px;
 }

 .about_para{
  text-align: center;
  color: white; 
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 110%;
  line-height: 160%;
}


 .about_text a:hover{
  color: #264d73 !important;
 }

 .about_btn{
  background-color: #264d73;
  width: 100%;
  padding: 10px 40px;
  font-size: 140%;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 10px 10px 5px #4E4F4B;
 }

 .social_icons{
  height: 40px;
  width: 40px;
  margin: 5px 10px 5px 10px;
 }

 .list_items{
  text-align: center;
  color: white; 
  padding-left: 20px;
  padding-right: 20px;
  font-size: 80%;
  line-height: 160%;
 }

 .skill_para{
  text-align: center;
  color: white; 
  padding-top: 20px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 100%;
  line-height: 160%;
}

#header-text{
  color: white;
  text-align: center;
  padding-top: 50px;
 }

#title{
  font-weight: bold;
  font-size: 300%;
  max-width: 100%;
}

hr{
  width: 150px !important;
  margin: 0 auto;
}

#subtitle{
  font-size: 200%;
  padding-bottom: 25px;
}

.project-label{
  text-align: center;
  display: inline-block;
  padding-top: 20px;
  color: #264d73;
  font-weight: bold;
}

.project-img{
  height: 250px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #4E4F4B;
  display: inline-block;
}

a.image-link:hover{
  opacity: 0.4;
}

.slideshow-img{
  margin:0 auto !important;
  width: 700px;
  height: 400px;
  margin-top: 65px !important;
}

.slide_title{
  color: white;
  text-align: center;
  font-size: 230%;
  font-weight: 200;
  margin:0 auto !important;
}

.text_boxes{
  height: 280px;
  width: 550px;
  background-color: #264d73; 
  margin: 0 auto;
  border-radius: 20px 20px 20px 20px;
}

.text_header{
  padding-top: 15px;
  text-align: center;
  text-decoration: underline;
  color: white; 
  font-size: 180%;
}

.text_para{
  text-align: center;
  color: white; 
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 110%;
  line-height: 160%;
}

.contact_img{
  width: 1000px;
  height: 500px;
  padding-top: 100px;
  margin: 0 auto !important;
}

#contact_header{
  font-size: 28px;
  color: white;
  padding-top: 20px;
}

.contact_form{
  height: 450px;
  width: 550px;
  background-color: #264d73; 
  margin: 0 auto;
  border-radius: 20px 20px 20px 20px;
}

.contact_input{
  width: 180px;
  height: 30px;
  margin-top: 40px;
  font-size: 15px;
  border: 0;
  border-radius: 5px;
  text-align: center;
}

#message{
  width: 385px;
  height: 100px;
  padding-left: 20px;
  margin-top: 60px;
  margin-bottom: 40px;
  font-size: 15px;
  border-radius: 5px;
  border: 0;
  text-align: center;
}

.submit_btn{
  font-size: 100%;
  width: 140px;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  -webkit-appearance: none;
}

#thanks_header{
  color: white;
  font-size: 240%;
  padding-top: 220px;
}


#thanks_para{
  color: white;
  font-size: 120%;
  padding-top: 15px;
}

/*Media Queries*/

@media all and (max-width:1155px){

.text_boxes{
  height: 295px !important;
  width: 450px !important;
}

.text_header{
  padding-top: 15px !important;
  font-size: 165% !important;
}

.text_para{ 
  padding-top: 20px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 100% !important;
} 

.about_para{
  padding-top: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 100% !important;
  line-height: 160% !important;
}

.contact_img{
  width: 900px !important;
  height: 450px !important;
  padding-top: 140px !important;
}

}

@media all and (max-width:950px){

  .col-1{
    width: 100% !important;
  }
  .col-2{
    width: 100% !important;
  }

.home{
  height: 450px !important;
  width: 100% !important;
 }

 .about_home{
  height: 450px !important;
  width: 100% !important;
 }

 .main_home{
  width: 100% !important;
  height: 570px !important
 }

#header-text{
  padding-top: 50px !important;
 }

#header-image{
  height: 260px !important;
  width: 260px !important;
  margin-top: 20px;
 }

#title{
  font-size: 250% !important;
  max-width: 100% !important;
}

#subtitle{
  font-size: 150% !important;
  padding-bottom: 10px !important;
}

.header-links a{
  padding-left: 40px !important;
  padding-right: 40px !important;
  font-size: 120% !important;
 }

.footer-links a{
  padding-left: 25px !important;
  padding-right: 25px !important;
  font-size: 115% !important;
  }

.btn_1{
  font-size: 100% !important;
  padding: 10px 30px !important;
}

.btn_2{
  font-size: 100% !important;
  padding: 10px 30px !important;
}

#about_img{
  height: 250px !important;
  width: 250px !important;
  margin-top: 15px !important;
}

 #about_header{
  font-size: 22px !important;
  padding-bottom: 5px !important;
 }

 .about_text{
  font-size: 14px !important;
  padding-bottom: 5px !important;
 }

  .about_para{
  padding-top: 20px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 100% !important;
  line-height: 160% !important;
}

.about_btn{
  width: 100% !important;
  padding: 10px 30px !important;
  font-size: 100% !important;
 }

  .list_items{
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 73% !important;
  line-height: 160% !important;
 }

.skill_para{
  padding-top: 25px !important;
  padding-bottom: 5px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
  font-size: 80% !important;
  line-height: 160% !important;
}

.social_icons{
  height: 35px !important;
  width: 35px !important;
  margin: 5px 10px 5px 10px !important;
 }

.project-label{
  padding-top: 20px !important;
  font-size: 140% !important
}

.slideshow-img{
  width: 500px !important;
  height: 300px !important;
  margin-top: 15px !important;
  }

.slide_title{
  font-size: 165% !important;
  }

.text_header{
  padding-top: 15px !important;
  font-size: 155% !important;
}

.text_para{ 
  padding-top: 20px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 100% !important;
}  

.text_para a{
  color: #ff8080 !important;
} 

.text_boxes{
  height: 320px !important;
  width: 400px !important;
}

#contact_header{
  font-size: 25px !important;
  padding-top: 20px !important;
}

.contact_form{
  height: 400px !important;
  width: 450px !important;
}

.contact_input{
  width: 180px !important;
  height: 30px !important;
  margin-top: 30px !important;
  font-size: 15px !important;
}

#message{
  width: 350px !important;
  height: 100px !important;
  padding-left: 20px !important;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  font-size: 15px !important;
}

.submit_btn{
  font-size: 120%;
  width: 140px;
}

.contact_img{
  width: 700px !important;
  height: 350px !important;
  padding-top: 80px !important;
}

#thanks_header{
  color: white;
  font-size: 200%;
  padding-top: 220px;
}


#thanks_para{
  color: white;
  font-size: 100%;
  padding-top: 15px;
}

}

@media all and (max-width:750px){

  .home{
  height: 355px !important;
  width: 100% !important;
  }  

  #header-text{
  padding-top: 30px !important;
  }

  #header-image{
  height: 240px !important;
  width: 240px !important;
  margin-top: 50px;
  }

  #title{
  font-size: 200% !important;
  max-width: 100% !important;
  }

  #subtitle{
  font-size: 130% !important;
  padding-bottom: 10px !important;
  }

#about_img{
  height: 160px !important;
  width: 160px !important;
  margin-top: 15px !important;
}

 #about_header{
  font-size: 18px !important;
  padding-bottom: 5px !important;
 }

 .about_text{
  font-size: 12px !important;
  padding-bottom: 5px !important;
 }

.about_btn{
  width: 100% !important;
  padding: 10px 20px !important;
  font-size: 80% !important;
 }

.list_items{
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 65% !important;
  line-height: 160% !important;
 }

.social_icons{
  height: 25px !important;
  width: 25px !important;
  margin: 5px 10px 5px 10px !important;
 }

  .project-img{
  height: 200px !important;
  width: 300px !important;
  }

  .header-links a{
  padding-left: 15px !important;
  padding-right: 15px !important;
  font-size: 110% !important;
  }

  .footer-links a{
  padding-right: 5px !important;
  font-size: 100% !important;
  }

  .project-label{
  padding-top: 20px !important;
  font-size: 130% !important
}

  .slideshow-img{
  width: 365px !important;
  height: 250px !important;
  margin-top: 15px !important;
  }

  .slide_title{
  font-size: 145% !important;
  }

.text_header{
  padding-top: 15px !important;
  font-size: 135% !important;
}

.text_para{ 
  padding-top: 20px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  font-size: 90% !important;
} 

.text_para a{
  color: #ff8080 !important;
} 

.list_items a{
  color: #ff8080 !important;
} 

.about_text a{
  color: #264d73 !important;
}
.text_boxes{
  height: 300px !important;
  width: 350px !important;
}

#contact_header{
  font-size: 22px !important;
  padding-top: 20px !important;
}

.contact_form{
  height: 450px;
  width: 365px !important;
}

.contact_input{
  width: 180px !important;
  height: 30px !important;
  margin-top: 30px !important;
  font-size: 15px !important;
}

#message{
  width: 320px !important;
  height: 100px !important;
  padding-left: 20px !important;
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  font-size: 15px !important;
}

.submit_btn{
  font-size: 120% !important;
  width: 140px !important;
  background-color: #C9C9C9 !important;
}

.contact_img{
  width: 365px !important;
  height: 220px !important;
  padding-top: 50px !important;
}

.about_home{
  height: 300px !important;
  width: 100% !important;
 }

 #thanks_header{
  font-size: 160% !important;
  padding-top: 220px !important;
}


#thanks_para{
  font-size: 100% !important;
  padding-top: 15px !important;
}

}

/*.slide_title_border{
  height: 75px;
  width: 400px;
  border: 4px white solid;
  margin:0 auto !important;
}

.diy-slideshow{ 
 width: 100%;
 position: relative;
 display: block;
 overflow: hidden;
}

.slideshow_img{

}

figure{
 position: absolute;
 opacity: 0;
 transition: 1s opacity;
}
figcaption{
 position: absolute;
 font-family: sans-serif;
 font-size: .8em;
 bottom: .75em;
 right: .35em;
 padding: .25em;
 color: #fff;
 background: rgba(0,0,0, .25);
 border-radius: 2px;
}
figcaption a{
 color: #fff;
}
figure.show{
 opacity: 1;
 position: static;
 transition: 1s opacity;
}
.next, .prev{
 color: #fff;
 position: absolute;
 background: rgba(0,0,0, .6);
 top: 50%;
 z-index: 1;
 font-size: 2em;
 margin-top: -.75em;
 opacity: .3;
 user-select: none;
}
.next:hover, .prev:hover{
 cursor: pointer;
 opacity: 1;
}
.next{
  width:3% !important;
 right: 0 !important;
 padding: 10px 5px 15px 10px;
 border-top-left-radius: 3px;
 border-bottom-left-radius: 3px;
}
.prev{
  width:3% !important;
 left: 0;
 padding: 10px 10px 15px 5px;
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
}*/