<div class="grid-container">
  <div class="row">
    <div id='footer'>
      <div class="footer-links">
        <%= link_to 'Home', root_path, :class => 'links' %>
        <%= link_to 'About', about_path, :class => 'links' %>
        <a href='https://www.linkedin.com/in/scotchard', target = "_blank" class="links"> LinkedIn </a>
        <a href='https://github.com/Scotchard22', target = "_blank" class="links"> Github </a>
        <a href='mailto:Scot.c.chard@gmail.com' class="links"> Email </a>
      </div>
    </div>
  </div>
</div>